<!-- block text with image -->


<section class="d-flex">
    <div class="container col-xxl-8 px-4 py-0 g-0">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{alias('@assetBaseUrl')}}/images/rebeccaI-greenscreen-removebg.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h3 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{block.title}}</h3>
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a class="btn btn-primary btn-lg px-4 me-md-2" href="">Primary</a>
            </div>
          </div>
        </div>
      </div>
    </section>