{% extends "_layouts/generic-page-layout.twig" %}
{% import '_macros' as macros %}

{% block content %}
{% set layout = null %}
<!--  pages/page Entry type Content -->
{% if entry is defined %}

{# {% include '/_partials/hero-featured.twig' %} #}
{% include('_partials/header-shallow-blog')%}
{% cache %}
<section class="page pb-5 ">
    <div class="container ">

        <div class="row ">
            <div class="col-12 col-lg-8 offset-lg-2 pt-2 pt-sm-5 position-relative">



                {% set asset = entry.image.eagerly().one() ?? null %}


                {% if asset | length %}
                {% set blogImage = {
                mode: 'crop',
                width: 880,
                quality: 85,
                format: 'webp'
                } %}
                <img class="img-fluid shadow" alt="{{asset.title}}" loading="lazy" src="{{ asset.getUrl(blogImage) }}">
                {% endif %}
                {% if entry.body | length %}
                <div class="bg-white mt-5 "></div>
                {{entry.body }}
            </div>
            {% endif %}

            {% for block in entry.contentBuilder.all() %}
            {% set blockPrefix = "" %}
            {% include ('blocks/block_' ~ block.type.handle) %}

            {% endfor %}

        </div>

    </div>
    </div>
    </div>
</section>

{% endcache %}

{% endif %}

{% endblock %}