{% extends "_layouts/generic-page-layout.twig" %}


{% block content %}
{% include('_partials/header-shallow')%}


<section class="py-5 d-flex bg-community">
    <div class="container">

        {% set entries = craft.entries.section('work').limit(null).all() %}
        {# {% for entry in entries %}
        {% if loop.index is even %}
        {% set oddclass = "even flex-sm-row-reverse" %}
        {% set quotealign = "text-start ps-5" %}
        {% set border = "border-5 border-start" %}
        {% set padding = "pe-lg-5" %}
        {% else %}
        {% set oddclass = "odd" %}
        {% set border = "border-5 border-end" %}
        {% set quotealign = "text-end pe-5" %}
        {% set padding = "ps-lg-5" %} #}
        {# {% endif %} #}



        <h2>Some sub heading if needed</h2>
        {% set entries = craft.entries.section('work').limit(null).all() %}
     {% for entry in entries %}

        {% set asset = entry.image.one() %}
        {% set video = entry.embed %}
        {% if entry.embed.valid %}
        {% set asset = entry.embed.embed %}
        {% else %} 
        {% set asset = entry.image.one() %}
        {% endif %}
         

        
    
        <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
            <div class="col-12 p-5 ps-0 col-md-12 col-lg-7 d-flex flex-column position-static">
                <h3 class="">{{entry.title}}</h3>
               {% if asset | length %}
                <img class="d-lg-none img-fluid" src="{{asset.url}}" >
                {% endif %}
                <p class="mb-auo">Where a charity chief exec and four senior business leaders undertake an intensive
                    strategic coaching engagement over time to increase resilience for the organisation. My role was to
                    project manage, facilitate meetings, manage interactions between stakeholders and and coach the
                    chief exec.</p>

                <figure>
                    <blockquote class="blockquote fs-6">
                        <p>Rebecca is very much an encourager and empathetic and that made us feel very at ease in the
                            programme and enabled an honesty and vulnerability that meant all conversations where real
                            and open. Rebecca also challenged thinking by using questioning that encouraged learning.
                            Rebecca was very much more than a facilitator and had a holistic approach that meant our
                            times together helped me not to just evolve as a leader but gave space for me to reflect on
                            not only on the sessions and learning but also gave me space to develop as a person and to
                            not be afraid to take time away and this I believe is as moved me on to the next phase in
                            both professional and personal development.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Becci <cite title="Source Title">SMF</cite>
                    </figcaption>
                </figure>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                </a>
            </div>
            
            <div class="col-12 col-md-12 col-lg-5 d-flex justify-content-center align-items-center">

                {% if entry.embed.valid %}
                <div class="ratio ratio-16x9">
                    {{entry.embed.embed | raw}}
                  </div>
                    {% else %}
               
                {% if asset | length %}
                <img class="d-lg-block img-fluid" src="{{asset.url}}" >
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}










        

    </div>
</section>

{% endblock %}