{% extends "_layouts/generic-page-layout.twig" %}
{% import '_macros' as macros %}

{% block content %}
    {%  set layout = null %}
    <!--  Page Entry type default Content -->
    {%  if entry is defined %}

        {# {% include '/_partials/hero-featured.twig' %} #}

        <section class="generic ">
            <div class="container">

                <div class="row ">
                    <div class="col-lg-8 pt-3">
                        <div class="bg-whit rounded mb-40">
                            <h1 class="mb-3">{{ entry.title }}</h1>

                            {% for block in entry.contentBuilder.all() %}
                            {% set blockPrefix = "" %}
                            {% include ('blocks/'~'block_' ~ block.type.handle) %}

                            {% endfor %} 
                            {# {% set lazyImage = false %}
                            
                            {% for block in entry.contentBuilder.all() %}
                                {% include ('pages/_partials/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
                                {% if block.type.handle == "image" %}
                                    {% set lazyImage = true %}
                                {% endif %}
                            {% endfor %} #}
                             {{entry.body}}
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <!-- Sidebar -->
                        <div class="bg-white px-4 py-4 sidebar-box-shadow">
                            {# {% switch entry.type %}
                                {%  case "" %}
                            {% endswitch %}
                            {%  include '/pages/_partials/_side_subnav-get-involved.twig' %}
                            {%  include '/pages/_partials/_side_block_subscribe.twig' %} #}

                        </div>
                    </div>
                </div>
            </div>
        </section>
    {%  endif %}

{% endblock %}
